@import "tailwindcss";

:root {
  --background: #f9f7f2;
  --foreground: #16191d;
  --card: #F5F2ED;
  --secondary: #00859f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171c1f;
    --foreground: #ededed;
    --card: #393e46;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 4s ease-in infinite;
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
  transition: all 5s ease-out;
}

.observe {
  opacity: 0;
  transform: translateX(30px);
}
